/.idea
/.idea/*
/.idea/workspace.xml
/node_modules
/vendor
.env
/public/storage
/public/hot
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/private/
composer.lock
docker/mysql
docker/redis_data
docker/supervisord
docker/database/config
supervisord.log
supervisord.pid
