version: '3'

networks:
  ecommerce:

services:

  nginx:
    image: nginx
    container_name: ecommerce-nginx
    ports:
      - "${NGINX_PORT}:80"
    #      - "443:443"
    volumes:
      - ./src:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - mysql
    networks:
      - ecommerce


  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    container_name: ecommerce-mysql
    restart: unless-stopped
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      SERVICE_NAME: ${MYSQL_SERVICE_NAME}
    #    expose:
    #      - "3306"
    ports:
      - '3308:3306'
    networks:
      - ecommerce


  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce-app
    volumes:
      - ./src:/var/www/html
      - ./supervisord/queue-worker.conf:/etc/supervisor/conf.d/supervisord.conf
      - ./php-ini/php.ini:/usr/local/etc/php/conf.d/php.ini
    expose:
      - "9000"
    environment:
      - COMPOSER_MEMORY_LIMIT=-1
    networks:
      - ecommerce


  redis:
    image: redis
    container_name: ecommerce-redis
    command: redis-server --requirepass redis --appendonly yes
    volumes:
      - ./redis_data:/data
    expose:
      - "6379"
    networks:
      - ecommerce

  phpmyadmin:
    depends_on:
      - mysql
    image: phpmyadmin/phpmyadmin
    container_name: ecommerce-phpmyadmin
    restart: always
    ports:
      - '8088:80'
    environment:
      PMA_HOST: mysql
      UPLOAD_LIMIT: 300M
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - ecommerce